<div class="product-preview">
  <a href="{{ product.url }}">
    <figure class="product-preview__thumbnail-container image is-5by4" {% comment %} style="background-image: url({{ product.image | img_url: '400x400' }});" {% endcomment %}>
      
    </figure>
  </a>
  <div class="product-preview__text is-size-7">
    <div class="product-preview__text-item">{{ product.title }}</div>
    <div class="product-preview__text-item has-text-weight-bold">{{ product.price | money }}</div>
    {{ product.metafields.judgeme.badge }}
  </div>
</div>