<div class="product-preview">
  <a class="block is-block" href="{{ product.url }}">
    <div class="product-preview__thumbnail-container">
      <img class="product-preview__thumbnail" src="{{ product.featured_image | img_url: '400x400' }}" />
    </div>
  </a>
  <div class="product-preview__text is-size-7">
    <div class="product-preview__text-item">{{ product.title }}</div>
    <div class="product-preview__text-item has-text-weight-bold">{{ product.price | money }}</div>
    {{ product.metafields.judgeme.badge }}
  </div>
</div>